/* resources/css/admin-custom.css o public/css/admin-custom.css */
.card {
    border-radius: 1rem !important;
    border: none;
    box-shadow: 0 8px 24px rgba(0,0,0,0.07);
}
.card-header {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.table thead {
    background-color: #f8f9fa;
}
.table thead th {
    color: #495057;
    font-weight: 600;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.table td, .table th {
    border-left: none;
    border-right: none;
    vertical-align: middle;
}
.dataTables_filter input[type="search"] {
    width: 400px !important;
}
.dt-buttons .btn {
    border-radius: 0.5rem;
    min-width: 105px;
    text-align: center;
}
